#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
    width: min(900px, 100%);
    margin-inline: auto;
}

.input-container {
    list-style-type: none;
    padding: 1rem 1rem 0rem 0rem;
    border-radius: 1rem;
    background: hsl(0 0% 0% / .1);
}

.input-container > button {
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    justify-content: space-around;
    width: auto;
    padding-right: 0rem;
}

.form-row > label {
    flex: 1;
    text-align: left;
}

.form-row > input {
    flex: 2;
}
