version: '3'

services:
  server:
    build: server/
    ports:
      - "8080:8080"
    restart: on-failure
    depends_on:
      - postgres
    environment:
      DB_NAME: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: password
      DB_DATABASE: postgres

  postgres:
    image: "postgres"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password

  client:
    build: 
      context: client/
    ports:
      - "80:80"
    depends_on:
      - server
