table {
    width: 100%;
    border-collapse: collapse;
    background: #323232;
}

caption,
th,
td {
    padding: 1rem;
}

caption,
th {
    text-align: left;
}

caption {
    background: hsl(0%, 0%, 0%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

th {
    background: hsl(0 0% 0% / .5);
}

tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / .1);
}

@media (max-width: 650px) {
    th {
        display: none;
    }

    td {
        display: grid;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
    }

    td:first-child {
        padding-top: 1rem;
    }

    td:last-child {
        padding-bottom: 1rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
}
