name: Deploy
on:
  push:
    - "feature/deploy"
    #tags:
    # - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  deploy:
    runs-on: "self-hosted"
    steps:
      - uses: actions/checkout@v3
      - name: Install Cargo
        run: curl https://sh.rustup.rs -sSf | sh -s -- -y
      - name: Install Node
        run: curl -fsSL https://deb.nodesource.com/setup_16.x | bash - && apt-get install -y nodejs
      - name: Run Backend Tests
        run: cd server && /root/.cargo/bin/cargo test --verbose
      - name: Build Client Docker and Export
        run: docker build -t cartrax-client client/ && docker save -o ./client.tar cartrax-client
      - name: Build Server Docker and Export
        run: docker build -t cartrax-server server/ && docker save -o ./server.tar cartrax-server

      - name: Send Client
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          source: "client.tar"
          target: "/tmp/"
      
      - name: Send Server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          source: "server.tar"
          target: "/tmp/"

      - name: Install Server And Client
        uses: appleboy/ssh-action@0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: docker load -i /tmp/server.tar && docker load -i /tmp/client.tar
